
{% extends 'base.html' %}

{% block title %}
Product

{% endblock %}

{% load static %}

{% block content %}

<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Shop</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home:home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a >Shop</span></a>

					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">Browse Categories</div>
					<ul class="main-categories">
						{% if categories %}
						{% for category in categories %}
						<li class="main-nav-list"><a data-toggle="collapse" href="#{{category.slug}}" aria-expanded="false" aria-controls="{{category}}"><span
								 class="lnr lnr-arrow-right"></span>{{ category }}<span class="number">({{ category.category_count }})</span></a>


						<ul class="collapse" id="{{category.slug}}" data-toggle="collapse" aria-expanded="false" aria-controls="{{category}}">
							{% for subcategory in subcategories %}
							{% if subcategory.category == category%}
							<li class="main-nav-list child">
								<a href="{% url 'shop:productsubcategory' subcategory.id %}">
									{{ subcategory.subcategory_name }}<span class="number">({{ subcategory.subcategory_count }})</span>
								</a>
							</li>
							{% endif %}
							{% endfor %}
							</ul>



						</li>

						{% endfor %}
						{% endif %}






					</ul>
				</div>

			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">


					<div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                        {% if products.has_other_pages %}

                        <ul class="pagination">

                            {% if  products.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ products.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                                </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-left"></i></a>
                            </li>
                            {% endif %}




                            {% for i in products.paginator.page_range  %}
                            {% if featured_cars.number == i %}
                                <li class="page-item"><a class="page-link active" href="#">{{ i }}</a></li>
                            {% else %}

                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}




                            {% if  products.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ products.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                                </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-right"></i></a>
                            </li>
                            {% endif %}
                        </ul>

                        {% endif %}
                    </nav>
                </div>




				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">


						<!-- single product -->

						{% for product in products %}


						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="{{ product.image.url }}" alt="">
								<div class="product-details">
									<h6>{{  product.title }}</h6>
									<div class="price">


										<h6>$

											{% if product.discountprice > 0.0 %}
												{{ product.discountprice }}
											{% else %}
												{{ product.price }}
											{% endif %}
										</h6>



										<h6
												{% if product.discountprice > 0.0 %}
												class="l-through"
												{% endif %}>

												{% if product.discountprice > 0.0 %}
													${{ product.price }}
												{% endif %}
										</h6>
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">add to bag</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">Wishlist</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">compare</p>
										</a>
										<a href="{% url 'shop:productdetail' product.id %}" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">view more</p>
										</a>
									</div>
								</div>
							</div>
						</div>

						{% endfor %}




					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">

					<div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                        {% if products.has_other_pages %}

                        <ul class="pagination">

                            {% if  products.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ products.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                                </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-left"></i></a>
                            </li>
                            {% endif %}




                            {% for i in products.paginator.page_range  %}
                            {% if featured_cars.number == i %}
                                <li class="page-item"><a class="page-link active" href="#">{{ i }}</a></li>
                            {% else %}

                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}




                            {% if  products.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ products.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                                </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-right"></i></a>
                            </li>
                            {% endif %}
                        </ul>

                        {% endif %}
                    </nav>
                </div>






				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">

						{% if deals %}
						{% for deal in deals %}
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{{ deal.image.url }}" alt="" style="width:100px;"></a>
								<div class="desc">
									<a href="#" class="title">{{ deal.title }}</a>
									<div class="price">

										<h6>$

											{% if deal.discountprice > 0.0 %}
												{{ deal.discountprice }}
											{% else %}
												{{ deal.price }}
											{% endif %}
										</h6>



										<h6
												{% if deal.discountprice > 0.0 %}
												class="l-through"
												{% endif %}>

												{% if deal.discountprice > 0.0 %}
													${{ deal.price }}
												{% endif %}
										</h6>


									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						{% endif %}




					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="{% static 'master/img/category/c5.jpg' %}" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->


{% endblock %}